# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Maven
backend/target/
target/

# IDEs
.idea/
*.iml
.vscode/
.eclipse/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db
